body {
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: #000;
    text-transform: uppercase;
    background-color: #f2f2f2;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

a {
    text-decoration: none;
}

.container {
    position: relative;
    margin: 0 auto;
    max-width: 1200px;
    background-color: #ffffff;
    box-shadow: 0 -5px 9px 5px #dfdfdf;
}


/*=======================================HEADER===============================================*/

.main-header-logo {
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 140px;
    z-index: 1;
}

.main-navigation {
    position: relative;
    font-size: 14px;
    line-height: 26px;
    color: #000;
    min-height: 56px;
    background-color: #ffffff;
}

.site-navigation {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-height: 56px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.site-navigation li {
    width: 20%;
    box-sizing: border-box;
    background-color: #fff;
    text-align: center;
}

.site-navigation a {
    padding: 15px 0;
    display: block;
    font-weight: 700;
    color: #000;
}

.site-navigation a:hover,
.site-navigation a:focus {
    color: #81b3d2;
}

.site-navigation a:active {
    color: #b2b2b2;
}

.info {
    padding-right: 4px;
}

.photo {
    margin-right: 20%;
    padding-left: 2px;
}

.map {
    padding-left: 4px;
    letter-spacing: 0.5px;
}

.housing {
    padding-left: 15px;
}


/*====================================MAIN=================================================*/

.intro {
    display: flex;
    flex-direction: column;
    position: relative;
    background-image: url("../img/background-main.jpg");
    background-position: 0 -55px;
    background-repeat: no-repeat;
}

.intro-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 51px;
    background-color: #fff;
    text-align: center;
    letter-spacing: 0.1px;
}

.intro img {
    align-self: center;
    margin: 76px 0 79px;
}

.intro h1 {
    font-size: 21px;
    font-weight: 700;
    width: 450px;
    margin: 10px auto 27px;
}

.intro p {
    width: 500px;
}

.intro::after {
    content: "";
    display: block;
    width: 100%;
    height: 57px;
    position: absolute;
    background-image: url("../img/intro-mask.svg");
    background-repeat: no-repeat;
    top: 451px;
}


/*==================================Features========================================*/

.features-list,
.features-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.reset-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.features-item {
    text-align: center;
}

.features-item h2 {
    max-width: 156px;
    margin: 0 auto;
    font-size: 21px;
    line-height: 21px;
}

.features-item span {
    display: block;
    padding: 24px 0 20px;
    line-height: 22px;
}

.features-item p {
    width: 305px;
    margin: 0 auto;
    line-height: 21px;
}

.blue-item {
    background-color: #81b3d2;
    color: #ffffff;
}

.blue-item .item-content {
    padding: 46px 47.5px 50px;
    box-sizing: border-box;
}

.item-img {
    background-position: 0 -50px;
}

.features-sub-list,
.sub-list-item {
    display: flex;
    flex-wrap: wrap;
}

.house,
.food,
.gift {
    flex-direction: column;
    justify-content: center;
    padding: 82px 50px;
}

.sub-list-item h2 {
    margin-top: 78px;
}

.sub-list-item p {
    max-width: 300px;
    margin-top: 25px;
}

.house {
    background-image: url(../img/icon-home.svg);
    background-repeat: no-repeat;
    background-position: center 60px;
}

.food {
    background-image: url(../img/icon-burger.svg);
    background-repeat: no-repeat;
    background-position: center 60px;
}

.gift {
    background-image: url(../img/icon-gift.svg);
    background-repeat: no-repeat;
    background-position: center 55px;
}

.advantages {
    background-color: #eeeeee;
    z-index: 3;
}

.sub-list-interest {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    padding-top: 47px;
    padding-bottom: 43px;
}

.sub-list-interest p {
    width: 251px;
    padding-bottom: 15px;
}

.sub-interest-road p {
    width: 262px;
}


/*=======================================FORM===============================================*/

.interested {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 292px;
    text-align: center;
    z-index: 2;
}

.wrapper {
    width: 600px;
    background-color: #ffffff;
    z-index: 2;
}

.interested h2 {
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
    padding-top: 29px;
}

.interested p {
    margin: 0;
    margin-bottom: 45px;
}

.search-form-btn {
    width: 568px;
    height: 86px;
    border: none;
    font-size: 21px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #766357;
    color: #ffffff;
}

.search-form-btn:hover,
.search-form-btn:focus {
    background-color: #604e43;
}

.search-form-btn:active {
    background-color: #503e33;
    color: #857871;
}


/*******************************************POPUP*********************************************/

.search {
    position: absolute;
    top: 292px;
    box-sizing: border-box;
    width: 568px;
    padding: 55px;
    margin-top: 0px;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    background-color: #ffffff;
    box-shadow: 0 5px 10px 1px #a7a7a7;
    transition: all 0.8s;
}

.search-close {
    margin-top: -405px;
}

.search-by-date {
    display: flex;
    flex-direction: column;
}

.search-by-date div {
    position: relative;
}

.search-by-date label {
    margin-right: auto;
    letter-spacing: 0.25px;
}

.search-by-date input {
    width: 346px;
    padding: 7px 13px;
}

.calendar-btn {
    position: absolute;
    top: 7px;
    right: 10px;
    padding: 0;
    fill: #cacaca;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.calendar-btn:hover,
.calendar-btn:focus {
    fill: #000000;
}

.calendar-btn:active {
    fill: #81b3d2;
}

.search-by-date div,
.search-by-age,
.search-by-age div {
    display: flex;
    align-items: center;
}

.search-by-age input {
    width: 38px;
    height: 38px;
    text-align: center;
    z-index: 1;
}

.adult label {
    margin-right: 41px;
}

.child {
    margin-left: auto;
}

.child label {
    margin-right: 27px;
}

.age-btn {
    width: 38px;
    height: 38px;
    font-size: 24px;
    font-weight: 700;
    color: #a9a9a9;
    background-color: #f2f2f2;
    border: none;
    cursor: pointer;
}

.minus {
    padding-bottom: 2px;
}

.age-btn:hover,
.age-btn:focus {
    color: #000000;
}

.age-btn:active {
    color: #81b3d2;
}

.arrival-date {
    margin-bottom: 27px;
}

.departure-date {
    margin-bottom: 28px;
}

.search-by-age {
    margin-bottom: 29px;
}

.search input {
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    color: #000000;
    background-color: #f2f2f2;
    border: none;
}

.search input:hover {
    background-color: #ebebeb;
}

.search input:focus {
    background-color: transparent;
    outline: 2px solid #e5e5e5;
}

.search-by-age input:focus {
    background-color: transparent;
    outline: 2px solid #e5e5e5;
}

.search-btn {
    font-size: 21px;
    font-weight: 700;
    text-transform: uppercase;
    width: 458px;
    margin-top: 25px;
    padding: 17px 0;
    border: none;
    color: #ffffff;
    background-color: #81b3d2;
}

.search-btn:hover,
.search-btn:focus {
    background-color: #669ec0;
}

.search-btn:active {
    color: #88b6d1;
    background-color: #5496bd;
}


/*********************************************************************************************/


/*=======================================FOOTER==============================================*/

.main-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    padding: 0;
    padding-top: 31px;
    padding-bottom: 32px;
    background-color: #ffffff;
    opacity: 0.9;
}

.contacts,
.social,
.copyright {
    display: flex;
    margin: 0;
}

.contacts {
    flex-direction: column;
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    margin-left: 128px;
}

.contacts span {
    margin-bottom: 5px;
}

.contacts p {
    margin: 0;
    letter-spacing: 0.002px;
}

.tel {
    color: #000;
}

.social {
    list-style: none;
    padding: 0;
    margin-right: 51px;
}

.social-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 48px;
    margin-right: 6px;
    background-color: #81b3d2;
}

.social-btn:hover,
.social-btn:focus {
    background-color: #669ec0;
}

.social-btn:active {
    background-color: #5496bd;
}

.social-btn:active path {
    fill: #88b6d1;
}

.copyright {
    justify-content: center;
    align-items: center;
    margin-right: 100px;
}

.copyright span {
    margin-right: 8px;
}

.copyright-btn {
    width: 115px;
    height: 41px;
}

.copyright-btn:hover path,
.copyright-btn:focus path {
    fill: #81b3d2;
}

.copyright-btn:active path {
    fill: #bdbbbc;
}


/*==========================================CATALOG=============================================*/

.site-navigation .active-page {
    color: #766357;
}

.search-hotels {
    background-image: url(../img/background-blurry.jpg);
    background-repeat: no-repeat;
    background-position: 0 -55px;
    background-color: #000000;
}


/*=======================================FILTER================================================*/

.filter {
    display: flex;
    padding: 26px 72px 6px 72px;
    color: #ffffff;
    line-height: 21px;
    letter-spacing: 0.08px;
}

.filter li {
    margin-bottom: 25px;
}

.reset-fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

.filter .infrastructure {
    margin-right: 118px;
}

.infrastructure legend,
.type-housing legend {
    margin-bottom: 26px;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
}


/****************************************************************************************************/

.checkbox-label {
    position: relative;
    margin-left: 40px;
    padding-top: 3px;
    cursor: pointer;
}

.filter-checkbox[type="checkbox"]+.checkbox-decor,
.filter-checkbox[type="checkbox"]:hover+.checkbox-decor,
.filter-checkbox[type="checkbox"]:focus+.checkbox-decor {
    position: absolute;
    top: 0;
    left: -40px;
    width: 23px;
    height: 23px;
    background-image: url("../img/icon-checkbox-off.svg");
}

.filter-checkbox[type="checkbox"]:checked+.checkbox-decor,
.filter-checkbox[type="checkbox"]:checked:hover+.checkbox-decor,
.filter-checkbox[type="checkbox"]:checked:focus+.checkbox-decor {
    position: absolute;
    top: 0;
    left: -40px;
    width: 27px;
    height: 23px;
    background-image: url("../img/icon-checkbox-on.svg");
}

.filter-checkbox[type="checkbox"]:disabled+.checkbox-decor {
    background-image: url("../img/icon-checkbox-off-disabled.svg");
}

.filter-checkbox[type="checkbox"]:checked:disabled+.checkbox-decor {
    background-image: url("../img/icon-checkbox-on-disabled.svg");
}


/****************************************************************************************************/


/*---------------------------------------------------------------------------------------------*/

.price-controls input[type=number],
.search-by-age input[type=number] {
    -moz-appearance: textfield;
}

.filter .filter-range {
    margin-left: 360px;
    width: 352px;
    color: #ffffff;
    text-transform: uppercase;
}

.filter-range-title {
    margin-bottom: 11px;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
}

.price-controls {
    position: relative;
    height: 32px;
    margin-bottom: 20px;
    font-size: 0;
    border: 2px solid #ffffff;
    border-radius: 2px;
}

.price-controls::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 22px;
    background: #ffffff;
    transform: translate(-50%, -50%);
}

.price-controls label {
    display: inline-block;
    position: relative;
    bottom: 4px;
    font-size: 14px;
    line-height: 38px;
    vertical-align: top;
    cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
    width: 75px;
    padding-left: 65px;
}

.price-controls .max-price {
    left: 5px;
}

.price-controls input {
    width: 50px;
    margin: 0;
    color: inherit;
    font: inherit;
    background: none;
    border: none;
}

.range-controls {
    position: relative;
    margin-bottom: 32px;
}

.range-controls .scale {
    height: 2px;
    background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
    width: 80%;
    height: 2px;
    background: #ffffff;
}

.range-toggle {
    position: absolute;
    top: -9px;
    width: 4px;
    height: 4px;
    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 rgba(172, 172, 172, 0.5);
    cursor: pointer;
}

.range-toggle:hover {
    transform: scale(1.15);
}

.range-toggle-min {
    left: 0;
}

.range-toggle-max {
    left: 80%;
}

.btn-transparent {
    display: block;
    margin-left: 85px;
    padding: 6px 34px 6px 33px;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    text-transform: uppercase;
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 2px;
    cursor: pointer;
}

.btn-transparent:hover {
    color: #000000;
    background: #ffffff;
}


/*---------------------------------------------------------------------------------------------*/


/*===================================SORTING================================================*/

.sorting {
    display: flex;
    align-items: baseline;
    padding: 30px 72px 28px 72px;
}

.sort-result {
    font-size: 21px;
    font-weight: 600;
    margin-right: 47px;
}

.sort-title {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    margin-right: 39px;
}

.sort-by-category {
    display: flex;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}

.sort-by-price {
    padding-right: 33px;
}

.sort-by-type {
    padding-right: 34px;
}

.sort-by-category a {
    color: #b2b2b2;
    border-bottom: 1px dotted #81b3d2;
}

.sort-by-category a:hover,
.sort-by-category a:focus {
    color: #81b3d2;
}

.sort-by-category a:active {
    color: #000000;
    border: none;
}

.sort-by-category .category-active,
.sort-by-category .category-active:hover,
.sort-by-category .category-active:focus,
.sort-by-category .category-active:active {
    color: #81b3d2;
    border: none;
}

.sort-by-priority {
    display: flex;
    margin-left: auto;
}

.priority-item-up {
    margin-right: 12px;
}

.up-btn path {
    fill: #cacaca;
}

.up-btn:hover path,
.up-btn:focus path {
    fill: #231f20;
}

.up-btn:active path {
    fill: #81b3d2;
}

.down-btn path {
    fill: #81b3d2;
}


/*===========================================HOTELS============================================*/

.reset-text {
    margin: 0;
}

.hotels-list li {
    display: flex;
    flex-wrap: wrap;
    padding: 30px 72px;
    border-top: 1px solid #e5e5e5;
}

.last-hotel {
    border-bottom: 1px solid #e5e5e5;
}

.hotel-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 30px;
}

.hotel-name {
    width: 775px;
    font-size: 21px;
    font-weight: 700;
    color: #000000;
    margin-top: -5px;
    letter-spacing: 0.25px;
}

.hotel-name:hover,
.hotel-name:focus {
    color: #81b3d2;
}

.hotel-name:active {
    color: #b2b2b2;
}

.price {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 257px;
    margin-bottom: 7px;
}

.price span {
    margin-right: 76px;
}

.hotel-rating {
    display: flex;
    flex-direction: column;
    margin-left: auto;
}

.btn {
    display: inline-block;
    color: #ffffff;
    padding: 3px 17px 3px 16px;
    line-height: 21px;
    font-weight: 700;
}

.btn-details {
    background-color: #81b3d2;
    margin-right: 3px;
}

.btn-details:hover,
.btn-details:focus {
    background-color: #669ec0;
}

.btn-details:active {
    color: #88b6d1;
    background-color: #5496bd;
}

.btn-reserve {
    background-color: #766357;
}

.btn-reserve:hover,
.btn-reserve:focus {
    background-color: #604e43;
}

.btn-reserve:active {
    color: #857871;
    background-color: #503e33;
}

.star {
    height: 18px;
    margin-left: auto;
    background-image: url(../img/icon-star.svg);
    background-repeat: space;
}

.star-four {
    width: 89px;
}

.star-three {
    width: 68px;
}

.star-two {
    width: 42px;
}

.hotel-rating span {
    color: #666666;
    background-color: #f2f2f2;
    margin-top: auto;
    padding: 0 13px 0 16px;
}


/*=========================================FOOTER-ABSOLUTE===========================================*/

.footer-absolute {
    position: absolute;
    bottom: 0;
    padding-bottom: 40px;
}

.footer-absolute .contacts {
    margin-left: 123px;
}

.footer-absolute .social {
    margin-left: 6px;
}


/*===========================================ERROR=================================================*/

form .error {
    border: 2px solid #fc3333;
}